<div class="col-sm-12 col-md-3 box left-box">
	
	<div class= "col-sm-12 col-md-12">
	<div id = "the-loai" class= "col-sm-6 col-md-12 hidden-sm hidden-xs">
		<div  class="panel panel-default">
			<div class="panel-heading"><strong>Thể loại</strong></div>
			<div class="panel-body" ng-controller="genresController">
				<div class="table-responsive">
					<table class="table table-striped theloai">
						<tbody>
							<tr ng-repeat="itemtr in itemGenres1">
								<td ng-repeat="item in itemtr">
									<a href="/danh-sach/the-loai/{{item | slug}}">{{item}}</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="truyen-theo-doi" class= "col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Truyện Theo Dõi</strong>
				<span class="pull-right" ng-click="showFollowedList()">Show</span>
			</div>
			<div class="panel-body">
				<div class="item_right" ng-repeat="item in followedList">
					<div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
						<div>
							<a ng-href="/{{item.slug}}" title="{{item.name}}">
								<h5 style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden">{{item.name}}</h5>
							</a>
							<button class="pull-right" ng-click="unfollow(item.slug)">Del</button>
						</div>
						<span>
							<a ng-href="/doc-truyen/{{item.lastChap.slug}}" title="{{item.lastChap.name}}">{{item.lastChap.name}}</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	</div><!--box left-->
	<!-- Controllers -->
	<script src="/public/js/Controller/followListController.js"></script>