<div class="col-sm-12 col-md-3 box left-box">
	<div id = "the-loai" class= "col-sm-6 col-md-12 hidden-sm hidden-xs">
		<div  class="panel panel-default">
			<div class="panel-heading"><strong>Thể loại</strong></div>
			<div class="panel-body" ng-controller="genresController">
				<div class="table-responsive">
					<table class="table table-striped theloai">
						<tbody>
							<tr ng-repeat="itemtr in itemGenres1">
								<td ng-repeat="item in itemtr">
									<a href="/danh-sach/the-loai/{{item | slug}}">{{item}}</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="truyen-theo-doi" class= "col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Truyện Theo Dõi</strong></div>
			<div class="panel-body"></div>
		</div>
	</div>
	<div class= "col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-body"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Truyen Tranh - Truyen47.com -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-8622385338178881"
				     data-ad-slot="9533832652"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
	</div><!--box left-->