<div class="col-sm-12 col-md-12 box panel panel-default">
	<footer>
		<div class="col-sm-6 col-md-4 pull-right panel-body">
		<p><a href="http://truyen47.com">Truyen47.com</a> đọc truyện tranh online mới và truyện hay luôn cập nhật</p>
 		
		<p>Liên hệ Email: chienminhnguyen196@gmail.com</p>
		</div>
	</footer>
</div>