<div class="col-sm-12 col-md-12 box">
	<footer>
		<div class="col-sm-6 col-md-4 pull-right">
		<p>Mangak.net đọc truyện tranh online mới và truyện hay luôn cập nhật</p>
 		
		<p>Liên hệ Email: chienminhnguyen196@gmail.com</p>
		</div>
	</footer>
</div>